*, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    @media screen and ( width < 480px ) {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

.grotesk {
    font-family: "Space Grotesk", sans-serif !important;
}

.btn-d {
    font-weight: 500;
    line-height: 100%;
    padding: 14px 32px;
    background: #1E261B;
    color: white;
    font-size: 1rem;
    flex-shrink: 0;
    border: none;
    outline: none;
    box-shadow: 4px 11px 22.8px 0px #0000000F;
    cursor: pointer;

    &:hover {
        color: white;
        background: #1e261bd5;
    }
}

.btn-o {
    font-weight: 500;
    line-height: 100%;
    padding: 14px 32px;
    background: #fff;
    color: #1E261B;
    font-size: 1rem;
    flex-shrink: 0;
    border: 1px solid #1E261B1A;
    outline: none;
    box-shadow: 4px 11px 22.8px 0px #0000000F;
    cursor: pointer;

    &:hover {
        color: 1E261B;
        box-shadow: none;
    }
}

.para {
    font-size: 1rem;
    font-weight: 400;
    color: #1E261BCC;

    @media screen and (width < 992px) {
        font-size: 0.9rem;
    }
}
h2,h3 {
    font-weight: 700;
    font-family: 'Space Grotesk';
    font-size: 3rem;
    line-height: 140%;
    color: #1E261B;

    @media screen and (width < 992px) {
        font-size: 2.3rem;
    }
}

h3 {
    font-size: 2.5rem;
    
    @media screen and (width < 992px) {
        font-size: 2rem;
    }
}

.nav-link:hover {
    filter: drop-shadow(0 0 2px #1e261b4a) !important;
}

.navbar {
    padding: 2.5rem 0 0;

    .navbar-collapse {
        @media screen and (width < 1200px) {
            order: 1;
            position: relative;
            height: 0px !important;
        }
    }

    .navbar-nav {
        gap: 24px;
    
        a {
            color: #1E261B !important;
            font-size: 1rem;
            font-weight: 400;
        }

        @media screen and ( width < 1200px ) {
            padding: 20px 16px;
            margin-top: 10px;
            margin-left: auto;
            width: fit-content;
            min-width: 300px;
            text-align: end;
            position: absolute;
            right: 0;
            z-index: 9999;

            background: #f3f3f3;
            border-radius: 12px;
        }
    
    }

    .navbar-brand img {
        width: 180px;
        height: 48px;
    
        @media screen and (width < 992px) {
            width: 140px;
        }
    
        @media screen and (width < 480px) {
            width: 100px;
            height: 40px;
        }
    }

    .btns {
        margin-left: 97px;
        display: flex;
        align-items: center;
        gap: 30px;

        @media screen and (width < 1200px) {
            margin-left: auto;
        }

        @media screen and (width < 480px) {
            gap: 20px;
        }

    }

    .btn-d {
        @media screen and (width < 480px) {
            padding: 14px 20px;
        }
    }
    .btns .login {
        color: #1E261B;
        font-weight: 500;
        font-size: 1rem;

        &:hover {
            filter: drop-shadow(0 0 2px #1e261b2f);
        }
    }
} 

.hero {
    padding: 5.438rem 0;

    @media screen and (width < 992px) {
        padding: 4rem 0;
    }

    h1 {
        font-weight: 700;
        font-size: 3.375rem;
        line-height: 124%;
        font-family: 'Space Grotesk';
        margin-bottom: 1rem;
        color: #1E261B;

        span {
            font-size: 0.4em;
            vertical-align: middle;
        }

        @media screen and (width < 992px) {
            font-size: 2.5rem;
        }
    }

    .para {
        margin-bottom: 1.875rem;
    }

    .pay-getpaid {
        display: flex;
        align-items: center;
        gap: 12px;
    
        img {
            width: 22;
            height: 20px;
        }
        p {
            font-weight: 700;
            font-size: 1rem;
            line-height: 100%;
            color: #1E261B;
        }
    }

    .swiper {
        width: 100%;
        max-width: 100%;

        @media screen and (width < 992px) {
            padding-top: 3rem;
        }

        @media screen and (width > 1400px) {
            margin-right: -40px;
        }
        @media screen and (width > 1200px) {
            margin-right: -30px;
        }

        img {
            display: block;
            margin-left: auto;
            @media screen and (width < 992px) {
                width: 80%;
                margin: auto !important;
            }
        }
    }

    .divider {
        margin-top: 1.9rem;
        margin-bottom: 2.9rem;
    }
}

.inputs {
    max-width: 529px;
    width: 100%;
    display: flex;

    input {
        outline: none;
        border: none;
        height: 50px;
        padding: 0 14px;
        color: #1E261B;
        background: #1E261B0F;
        flex-grow: 1;
        min-width: 0;

        &::placeholder {
            color: #1e261b96;
        }
    }
}

.logos {
    background: #1E261B;

    .container {
        display: flex;
        gap: 0 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    img {
        height: 8.8rem;
        max-width: 100%;

        @media screen and (width < 992px) {
            height: 6rem;
        }
    }
}

.section-2 {
    padding: 120px 0;

    .order-1 {
        @media screen and (width >= 1400px) {
            padding-left: 84px;        
        }
    }
}
.section-3 {
    @media screen and (width >= 1400px) {
        p {
            max-width: 532px;
        }
    }
}

.section-4 {
    padding: 120px 0;

    h3 {
        margin-bottom: 3.4rem;

        @media screen and (width < 992px) {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
        }
    }
}

.section-5 {
    padding: 4.3rem 0;
    background: #F0F0F266;

    h2 span {
        position: relative;
        @media screen and (width >= 1400px) {
            &::after {
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none"><path d="M10.9585 5.625H26.3752V17.9583H21.7502L15.5835 21.0417V17.9583H10.9585V5.625Z" stroke="%23545C4D" stroke-opacity="0.9" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.1252 25.6654V31.832C17.1252 32.2409 16.9627 32.633 16.6736 32.9222C16.3845 33.2113 15.9924 33.3737 15.5835 33.3737H3.25016C2.84129 33.3737 2.44916 33.2113 2.16004 32.9222C1.87092 32.633 1.7085 32.2409 1.7085 31.832V10.2487C1.7085 9.83982 1.87092 9.44769 2.16004 9.15858C2.44916 8.86946 2.84129 8.70703 3.25016 8.70703H6.3335M9.41683 28.7487V28.7641" stroke="%23545C4D" stroke-opacity="0.9" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                position: absolute;
                left: 10px;
            }
        }
    }

    .para {
        max-width: 453px;
    }
}

.section-6 {
    padding: 120px 0;

    @media screen and (width >= 1400px) {
        .order-1 {
            padding-left: 100px;
        }
    }
}

.section-7 {
    .inner {
        @media screen and (width >= 1200px) {
            max-width: 453px;
        }
    }
}

.section-8 {
    padding: 150px 0;
}

.section-9 {
    padding-bottom: 120px;

    .inner {
        @media screen and (width >= 1200px) {
            max-width: 453px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 27px;
        margin-bottom: 40px;

        li {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 1rem;
            font-weight: 400;
            color: #1E261BCC;
            margin-bottom: 17px;

            &::before {
                content: url(../img/li.png);
                display: flex;
                width: 24px;
                height: 24px;
            }
        
            @media screen and (width < 992px) {
                font-size: 0.9rem;
            }  
        }
    }
}

.section-10 {
    padding: 70px 0;
    background: #F5F5F6;

    .inner {
        top: 70px;
        position: sticky;
    }

    h5 {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FC7E54;
        font-weight: 700;
        font-size: 2.25rem;
        font-family: 'Space Grotesk';
        margin-bottom: 16px;

        &::before {
            content: '';
            height: 10px;
            width: 10px;
            background: #1E261B30;
        }
    }
}

.reviews {
    padding: 120px 0;
    overflow: hidden;
    position: relative;

    h2 {
        margin-bottom: 3rem;
    }

    .review {
        max-width: 550px;
        min-height: 174px;
        height: 100%;
        width: 100%;
        padding: 22px 22px 14px;
        background: #F0F0F266;

        @media screen and (width < 750px) {
            max-width: 380px;
            width: calc(100vw - 24px);
        }

        .head {
            display: flex;
            align-items: start;
            justify-content: space-between;
            margin-bottom: 44px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            flex-shrink: 0;
        }

        .name {
            font-weight: 700;
            font-size: 1rem;
            margin-bottom: 8px;
            font-family: 'Space Grotesk';
            color: #1E261B;
            line-height: 100%;
        }

        .title {
            font-weight: 500;
            font-size: 0.81rem;
            font-family: 'Space Grotesk';
            color: #1E261B99;
        }

        .right {
            display: flex;
            align-items: center;
        }

        .fa-star {
            width: 16px;
            height: 16px;
            background: #FC7E54;
            border-radius: 4px;
            display: grid;
            place-items: center;
            color: white;
            font-size: 8px;
            margin-right: 2px;
        }

        .rating {
            font-weight: 500;
            font-size: 0.88rem;
            color: #1E261BCC;
            margin-left: 8px;
        }

        .body {
            font-size: 0.88rem;
            color: #1E261BCC;
        }
    }
    
    .swiper-c {
        height: 174px;

        .swiper {
            position: absolute;
            width: 2780px;

            @media screen and (width < 750px) {
                width: 1970px;
            }
        }
    }
}

.cto {
    padding: 120px 0 160px;
    background: url(../img/cto.png) center / cover;

    h2 {
        max-width: 602px;
        margin: auto;
        font-size: 2.25rem;
        line-height: 160%;
        color: white;
        text-align: center;
        margin-bottom: 16px;
        
        @media screen and (width < 750px) {
            font-size: 1.8rem;
        }
    }

    p {
        margin: auto;
        max-width: 867px;
        color: #FFFFFFCC;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 60px;
        text-align: center;

        @media screen and (width < 750px) {
            font-size: 1.2rem;
        }
    }

    .imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
            width: 11rem;
            height: 3.43rem;
        }
    }
}

footer {
    background: #F0F0F2B2;
    padding: 120px 0 28px;

    @media screen and ( width < 800px) {
        padding: 80px 0 28px;
    }

    .logo-c {
        @media screen and ( width < 800px) {
            display: flex;
            justify-content: space-between;
        }

        @media screen and (width >= 1400px) {
            padding-right: 40px;
        }
    }

    .logo {
        width: 153px;
        height: 51px;
        margin-bottom: 50px;
        display: block;
    }

    .stores {
        display: block;
        width: 149px;
        height: 102px;
    }

    .grid {
        display: flex;
        justify-content: space-evenly;
        gap: 4.5rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid #1E261B26;

        @media screen and ( width < 1200px) {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        @media screen and ( width < 800px) {
            flex-direction: column;
            gap: 3rem;
        }
    }

    .title {
        font-weight: 700;
        font-family: 'Space Grotesk';
        font-size: 1.125rem;
        line-height: 100%;
        margin-bottom: 30px;
        color: #1E261B;
        
        @media screen and ( width < 800px) {
            font-size: 1.4rem;
        }
    }

    a {
        color: #1E261BCC;
        font-size: 0.88rem;
        line-height: 100%;
        margin-bottom: 20px;
        display: block;

        @media screen and ( width < 800px) {
            font-size: 1rem;
        }

        &:hover {
            color: #1e261b;
            filter: drop-shadow(0 0 2px #1e261b2f);
        }
    }

    .socials {
        display: flex;
        gap: 13px;
    }

    .desc {
        font-size: 0.75rem;
        color: black;
        padding: 40px 0 32px;
        text-align: justify;
    }

    .bottom-links {
        display: flex;
        gap: 20px;

        @media screen and ( width < 800px) {
            flex-direction: column;
        }
    }

    .cr, .terms, .privacy{
        font-size: 0.75rem;
        color: black;
        margin-bottom: 0px;
    }

    .terms {
        @media screen and ( width > 800px) {
            margin-left: auto;
            margin-right: 30px;
        }
    }
}